<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>job</key>
		<string>実業家</string>
		<key>words</key>
		<string>歳をとればとるほど、動機こそが大切だという核心が深まる。</string>
		<key>name</key>
		<string>スティーブ・ジョブズ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>実業家</string>
		<key>words</key>
		<string>キャリアではない。私の人生なんだ。</string>
		<key>name</key>
		<string>スティーブ・ジョブズ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>実業家</string>
		<key>words</key>
		<string>何を捨てるかで誇りが問われ、何を守るかで愛情が問われる。</string>
		<key>name</key>
		<string>スティーブ・ジョブズ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>実業家</string>
		<key>words</key>
		<string>昔を振り返るのはここでやめにしよう。大切なのは明日何が起きるかだ。</string>
		<key>name</key>
		<string>スティーブ・ジョブズ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>実業家</string>
		<key>words</key>
		<string>大事なのは自分の心に素直になることだ。</string>
		<key>name</key>
		<string>スティーブ・ジョブズ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>政治家・軍人</string>
		<key>words</key>
		<string>お前がいつの日か出会う禍は、お前がおろそかにしたある時間の報いだ。</string>
		<key>name</key>
		<string>ナポレオン・ボナパルト</string>
	</dict>
	<dict>
		<key>job</key>
		<string>政治家・軍人</string>
		<key>words</key>
		<string>じっくり考えろ。しかし行動する時が来たなら考えるのをやめて、進め。</string>
		<key>name</key>
		<string>ナポレオン・ボナパルト</string>
	</dict>
	<dict>
		<key>job</key>
		<string>政治家・軍人</string>
		<key>words</key>
		<string>リーダーとは「希望を配る人」のことだ。</string>
		<key>name</key>
		<string>ナポレオン・ボナパルト</string>
	</dict>
	<dict>
		<key>job</key>
		<string>政治家・軍人</string>
		<key>words</key>
		<string>最悪の策とは、ほとんどの場合もっとも臆病な策である。</string>
		<key>name</key>
		<string>ナポレオン・ボナパルト</string>
	</dict>
	<dict>
		<key>job</key>
		<string>政治家・軍人</string>
		<key>words</key>
		<string>勝利は、もっとも忍耐強い人にもたらされる。</string>
		<key>name</key>
		<string>ナポレオン・ボナパルト</string>
	</dict>
	<dict>
		<key>job</key>
		<string>理論物理学者</string>
		<key>words</key>
		<string>大切なのは、疑問を持ち続けることだ。神聖な好奇心を失ってはならない。</string>
		<key>name</key>
		<string>アルベルト・アインシュタイン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>理論物理学者</string>
		<key>words</key>
		<string>どうして自分を責めるんですか？他人がちゃんと必要な時に責めてくれるんだからいいじゃないですか。</string>
		<key>name</key>
		<string>アルベルト・アインシュタイン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>理論物理学者</string>
		<key>words</key>
		<string>挫折を経験した事がない者は、何も新しい事に挑戦したことが無いということだ。</string>
		<key>name</key>
		<string>アルベルト・アインシュタイン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>理論物理学者</string>
		<key>words</key>
		<string>情報は知識にあらず。</string>
		<key>name</key>
		<string>アルベルト・アインシュタイン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>理論物理学者</string>
		<key>words</key>
		<string>常識とは十八歳までに身につけた偏見のコレクションのことをいう。</string>
		<key>name</key>
		<string>アルベルト・アインシュタイン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>怖かったら怖いほど、逆にそこに飛び込むんだ。</string>
		<key>name</key>
		<string>岡本太郎</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>人生はキミ自身が決意し、貫くしかないんだよ。</string>
		<key>name</key>
		<string>岡本太郎</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>危険だ、という道は必ず、自分の行きたい道なのだ。</string>
		<key>name</key>
		<string>岡本太郎</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>同じことを繰り返すくらいなら、死んでしまえ。</string>
		<key>name</key>
		<string>岡本太郎</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>猛烈に自分を強くし、鋭くし、責任をとって問題を進めていく以外にない。</string>
		<key>name</key>
		<string>岡本太郎</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>誰もが自分の運命を決定する権利を持っている。</string>
		<key>name</key>
		<string>ボブ・マーリー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>ひとつのドアが閉まっている時、もっとたくさんのドアが開いているんだよ。</string>
		<key>name</key>
		<string>ボブ・マーリー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>自分の生きる人生を愛せ。自分の愛する人生を生きろ。</string>
		<key>name</key>
		<string>ボブ・マーリー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>もう、言葉は充分だろ。今すぐ、行動に移そう。</string>
		<key>name</key>
		<string>ボブ・マーリー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>勇気は汝を正しい道に導く。</string>
		<key>name</key>
		<string>ルートヴィヒ・ヴァン・ベートーヴェン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>勇気は汝を正しい道に導く。</string>
		<key>name</key>
		<string>ルートヴィヒ・ヴァン・ベートーヴェン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>神に頼るとはなんたることだ。自らの力で自らを助けたまえ。</string>
		<key>name</key>
		<string>ルートヴィヒ・ヴァン・ベートーヴェン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>困難な何事かを克服するたびごとに、私はいつも幸福を感じます。</string>
		<key>name</key>
		<string>ルートヴィヒ・ヴァン・ベートーヴェン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>増やすな、捨てろ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>考えるな、感じろ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>ある人物のことを知りたければ、他の誰かと一緒に行動している時の様子を観察すればよい。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>状況など気にするな。機会は作り出せ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>心を空にしろ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>1つの形にこだわるな。順応性を持ち、独自のかたちを作り上げてそれを育め。水のような存在になるのだ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>悲観的な考え方は、成功を遠ざける。楽観的な考え方は、成功に導く信条である。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>人間はいつも成長している。人間はパターン化された思考や行動によって行動を制限されると成長をやめるものだ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>何かについて考えすぎると、それを成し遂げることは到底不可能である。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>目立とうとするのは、栄光を勘違いした愚か者の考えることだ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>誰が正しくて誰が間違っている、誰が誰より優れているなどと考えるな。賛成も反対もするな。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>人から感じろ、己を知るとはそういう事だ。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>勝つか負けるか、戦いの結果を予測することは大いなる間違いだ。自然に任せていれば、ここぞという時にひらめく。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>正しいか間違えているかなど、分けるな。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>常に自分自身であれ。自分を表現せよ。自分の中に信念を持て。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>俺はお前のために生きているのではない。お前も俺のために生きているのではない。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>成功とは、真心を込めた真摯な態度で何かをすることである。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>武道家・俳優</string>
		<key>words</key>
		<string>柔軟であれ。人は生きている時は柔軟である。死ねば人は固くなる。人の肉体であれ、心であれ、魂であれ、柔軟が生であり、硬直は死である。</string>
		<key>name</key>
		<string>ブルース・リー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>先に演奏するぞ、曲名はあとで教える。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>失敗を恐れるな。失敗なんてないんだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>そこにあるものではなく、ないものをプレイするんだ。知っていることではなく、知らないことをやる。変化しなければいけない。それは呪いのようなものだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>オレにとって、音楽も人生もスタイルがすべてだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>すべて学び、そして忘れろ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>自分自身の何かを創造している時は、限界なんてない。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>どんな種類であれ、いい音楽はいい。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>音楽における自由というのは、自分の好みや気持ちに合わせて、規則を破れるように規則を知っている能力だ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>オレは、楽な生き方には興味はない。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>オレみたいに何か新しいことをやろうとする人間は、無視されるリスクをいつも背負っているんだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>人生は変化であり、挑戦だ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>オレは現状に甘んじる人間は好きじゃない。常に前進し、変化を求める人間が好きだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>同じところなんかにずっといたくない。クリエイティブなことができないなら、死んだ方がましだ。生きてる意味がないじゃないか。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>ふり返るな。謝るな。説明するな。同じことを繰り返すな。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>誰だって、いつもと違うことをやらなければならない状況に置かれたら、特別な考え方をしなきゃならない。もっと想像力を働かせ、創造的にも革新的にもなって、冒険をしなきゃならない。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>試練はいつだってオレを10倍強力にするからな。チャレンジするのは大好きだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>まずは教えてやることだ。今度は、それが自分に返ってくる。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>すべての芸術的表現における創造性や才能には、年齢なんてないんだ。年季はなんの助けにもならない。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>終わってしまう前に、終われ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>何かがおかしくなりはじめた時に指摘してくれる人間を人生で一人でも見つけられれば、とても幸運だ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>自分の手の内を一通り出してしまったら、今度は違うことをやれ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>人間だったら自分の気持ちに正直に生きるべきだ。好きなら好きと言えばいい。気に食わないのなら、そう言えばいいんだ。オレは妥協も我慢もしない。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>毎日一歩ずつ前進するように、がんばり続けるだけだ。そうだ一歩ずつだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>他人が何か言ってきても、重要なことでなければ、「勝手にしやがれ」と言うことにした。それからというもの、オレの人生はスムーズに転がりはじめたんだ。</string>
		<key>name</key>
		<string>マイルス・デイヴィス</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>何か信じるものがあるのに、それに従って生きない人間は信用できない。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>はじめに彼等は無視し、次に笑い、そして挑みかかるだろう。そうして我々は勝つのだ。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>臆病な者は愛を表明することができない。愛を表明するとは勇敢さの現れである。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>明日死ぬかのように生きよ。永遠に生きるかのように学べ。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>弱い者ほど相手を許すことができない。許すということは、強さの証だ。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>人間の英知を信用しすぎるのは賢明ではない。強者も弱くなるかもしれないし、賢者も間違うかもしれないと心に留めておくことは健康的である。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>死ぬ覚悟が出来ていれば、人は自由に生きられる。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>速度を上げるばかりが、人生ではない。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>あなたがこの世で見たいと願う変化に、あなた自身がなりなさい。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>強さとは、身体能力ではなく、不屈の精神から生まれるものだ。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>目的を見つけよ。手段は後からついてくる。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>弁護士・宗教家・政治指導者</string>
		<key>words</key>
		<string>未来は、「今、我々が何を為すか」にかかっている。</string>
		<key>name</key>
		<string>マハトマ・ガンディー</string>
	</dict>
	<dict>
		<key>job</key>
		<string>志士・郷士</string>
		<key>words</key>
		<string>人間というものは、いかなる場合でも、好きな道、得手の道を捨ててはならない。</string>
		<key>name</key>
		<string>坂本 龍馬</string>
	</dict>
	<dict>
		<key>job</key>
		<string>志士・郷士</string>
		<key>words</key>
		<string>英雄とは、自分だけの道を歩く奴のことだ。</string>
		<key>name</key>
		<string>坂本 龍馬</string>
	</dict>
	<dict>
		<key>job</key>
		<string>志士・郷士</string>
		<key>words</key>
		<string>人の世に道は一つということはない。道は百も千も万もある。</string>
		<key>name</key>
		<string>坂本 龍馬</string>
	</dict>
	<dict>
		<key>job</key>
		<string>志士・郷士</string>
		<key>words</key>
		<string>世に生を得るは事を成すにあり。</string>
		<key>name</key>
		<string>坂本 龍馬</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>パンク・ロックの意味するものは、自由であって然るべきなんだ。自分の好みのものを片っ端から好きになって、受け入れる。何でも好きなものを、好きなだけ下手に演奏する。いいもので、情熱が感じられればそれでいいのさ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>俺が考える最大の罪は、自分を偽り、まるで100％楽しんでるかのようなふりをして、他人をはぐらかすことだ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>色あせていくくらいなら、いっそ燃え尽きるほうがいい。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>他の誰かになりたがることは、自分らしさの無駄遣いだ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>俺はわざと世間知らずのままでいて、俗っぽい情報から自分を遠ざけている。これがしらけた態度をとらないですむ唯一の方法だから。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>ただ派手にやらかして、カッコつけて、女にモテたいがためだけにバンドを始める奴がいるなんて、俺にはどうしても信じられない。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>偽りの自分を愛されるより、ありのままの自分を憎まれる方がいい。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>俺達は俺達でしかない。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>クールになるくらいなら、死んだ方がましだ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>売れたいが、売れるような曲は嫌いだ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>悲劇に感謝。俺のアートには必要なものだから。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>音楽家</string>
		<key>words</key>
		<string>学んだことを基準に、人について判断してはいけないことを知ったよ。俺には何も判断する権利はないんだ。それが俺の学んだ教訓さ。</string>
		<key>name</key>
		<string>カート・コバーン</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>芸術は悲しみと苦しみから生まれる。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>想像できることは、全て現実なのだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>私は対象を見えるようにではなく、私が思うように描くのだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>いかなる創造的活動も、はじめは破壊的活動だ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>芸術とはわれわれに真理を悟らせてくれる嘘である。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>ひらめきは、自分で呼び込めるものではない。わたしにできるのは、ひらめきを形にすることだけだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>「それにしてもあの絵は全然彼女に似ていないな」「なに、彼女の方でだんだん絵に似てくるさ」</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>画家は、労働者が働くように、勉強しなければならない。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>自分には過去も未来もない。ただ現在に生きようが為に絵を描くのである。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>若くなるには、時間がかかる。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>子供は誰でも芸術家だ。問題は大人になっても芸術家でいられるかどうかだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>私はいつも自分のできないことをしている。そうすればそのやり方を学べるからだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
	<dict>
		<key>job</key>
		<string>芸術家</string>
		<key>words</key>
		<string>大切なことは、熱狂的状況をつくり出すことだ。</string>
		<key>name</key>
		<string>パブロ・ピカソ</string>
	</dict>
</array>
</plist>
